<h3>Add a Movie</h3>

<form method="post" action="/movie/add">
    <label>Movie Name:<br>
        <input type="text" name="title">
    </label>
    <br>
    <label>Year:<br>
        <input type="text" name="released">
    </label>
    <br>
    <label>Tag Line:<br>
        <input type="text" name="tag">
    </label>
    <br><br>
    <input type="submit" value="Submit">
</form>

<h3>Add Actors</h3>

<form method="post" action="/actor/add">
    <label>Actor Name:<br>
        <input type="text" name="name">
    </label>
    <br><br>
    <input type="submit" value="Submit">
</form>

<h3>Movies</h3>
<ul>
<% movies.forEach((movie) => { %>
<li><%= movie.title %></li>
<% }) %>
</ul>

<h3>Actors (and Directors)</h3>
<ul>
<% actors.forEach((actor) => { %>
<li><%= actor.name %></li>
<% }) %>
</ul>
