<h1>Movies</h1>
<ul>
<% movies.forEach((movie) => { %>
<li><%= movie.title %></li>
<% }) %>
</ul>

<h1>Actors (and Directors)</h1>
<ul>
<% actors.forEach((actor) => { %>
<li><%= actor.title %></li>
<% }) %>
</ul>
