<h1>Add a Movie</h1>

<form>
    <label>Movie Name:<br>
        <input type="text" name="movie_name">
    </label>
    <br>
    <label>Year:<br>
        <input type="text" name="movie_year">
    </label>
    <br><br>
    <input type="submit" value="Submit">
</form>

<h1>Movies</h1>
<ul>
<% movies.forEach((movie) => { %>
<li><%= movie.title %></li>
<% }) %>
</ul>

<h1>Actors (and Directors)</h1>
<ul>
<% actors.forEach((actor) => { %>
<li><%= actor.name %></li>
<% }) %>
</ul>
