<% if (success) { %>
<h3>Success</h3>
<p>Thank you for your interest. You'll be hearing from us pretty soon.</p>
<% } else if (error) { %>
<h3>Error</h3>
<p>We're afraid something bad may have happened.</p>
<% } else { %>
<h3>Register now</h3>
<p>And any one of 10,000 jobs just may become yours</p>
<form method="post" action="/register">
    <label>First Name<br>
        <input type="text" name="fname">
    </label><br>
    <label>Last Name<br>
        <input type="text" name="lname">
    </label><br>
    <label>Email<br>
        <input type="email" name="email">
    </label><br>
    <label>phone<br>
        <input type="text" name="phone">
    </label><br>
    <br><br>
    <input type="submit" value="Register">
</form>
<% } %>
